html,
body {
    background-color: #E5E5E5;
    width: 99%;
    height: 99%;
}

td,
tr {
    vertical-align: bottom;
    padding: 7px;
}

#imageLoadButtons {
	position: relative;
	float: right;
	height: 50px;
	width: 100px;
}

#table2 {
    position: absolute;
    right: -480px;
    top: 595px;
    z-index: 100;
}

#table3 {
    position: absolute;
    right: -660px;
    top: 595px;
    z-index: 99;
}

#processButton {
    width: 100px;
    height: 50px;
    float: right;
    position: relative;
}

#table4 {
    position: absolute;
    right:-560px;
    top:550px;
    z-index: 99;
}

/************************************************************

				Menu Function Buttons

************************************************************/

#menuButtons {
    width: 285px;
    height: 155px;
    float: right;
    position: relative;
}

#menu {
    position: absolute;
    right: 0px;
    padding: 0px 0px;
    z-index: 99;
}

/************************************************************

				Image Canvas and Layers

************************************************************/

#image {
    overflow: hidden;
}

/************************************************************

				On Screen Computation Display

************************************************************/

p {
	position:absolute;
	float:right;
	left:10px;
	color: white;
}

#consoleDisplay {
    position: relative;
    margin: auto;
    z-index: 99;
    float: right;
    right:-300px;
    top: 175px;
    width: 275px;
    height: 375px;
    color: black;
    background-color: gray;
    border-radius: 3px;
    z-index:99;
}

#Area {
	top:0px;
}
#AreaCalc {
	top:20px;
}

#Centroid {
	top:60px;
}

#CentroidCalc {
	top:80px;
}
#ProbeDropCoordinates {
	top:120px;
}

#ProbeDropCalc {
	top:140px;	
}

#PointTargetCoordinates {
	top:180px;
}

#PointTargetCalcPT1 {
	top:200px;	
}

#PointTargetCalcPT2 {
	top:220px;
}

#PointTargetCalcPT3 {
	top:240px;	
}

#QRCodeText {
	top:280px;
}

#QRData {
	top:300px;
}

/************************************************************

				QR Code Window Select Display

************************************************************/

#qrcodeimage {
	position: relative;
	float: right;
	height: 50px;
	width: 50px;
	top: 560px;
	right: 205px;
}

#qrcodedata {
    position: absolute;
    z-index: 99;
    right: 205px;
    top: 560px;
    border-radius: 3px;
}

/************************************************************

					Button Styling

************************************************************/

button {
    display: inline-block;
    font-size: 14;
    float: right;
    border: 1px solid;
    border-radius: 4px;
}

#ProbeDropLoc,
#SelectVerticies,
#PointTarget,
#QRCode {
    background-color: white;
    color: black;
    border-color: gray;
	padding: 9px 9px;
}

#Compute {
    background-color: #00cc00;
    color: white;
    padding: 9px 9px;
    border-color: black;
}

#Clear {
    background-color: orange;
    color: white;
    padding: 7px 7px;
    border-color: black;
}

#NoTarget {
    background-color: #ff0000;
    color: white;
    padding: 9px 9px;
    border-color: #ff0000;
}

#Process {
    background-color: blue;
    color: white;
    padding: 9px 9px;
    border-color: blue;
}

#Load {
    background-color: black;
    color: white;
    padding: 9px 9px;
    border-color: black;
}

/************************************************************

					Button Actions

************************************************************/

#ProbeDropLoc:active,
#SelectVerticies:active,
#PointTarget:active,
#QRCode:active {
    background-color: #00cc00;
}

#Compute:active {
    background-color: gray;
}

#Clear:active,
#Load:active {
    background-color: gray;
}
